
p {
            font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
        
        me{
            height: 50%; 
            width: auto;
        }
        .foto-perfil {
            height: 100%; 
            width: auto;
            max-width: auto;
            border-radius: 50%;
        }

        .icones {
            padding-left: 5px;
        }

        .titulosBrancos {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
        }

        .titulosVerdes {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: #18bc9c
        }

        .paragrafoBrancos {
            color: white !important;
        }


        .jumbotron {
            margin-bottom: 0px;
        }

        html {
            scroll-behavior: smooth;
        }

        p {
            color: black !important;
        }

        .corPrimaria {
            background-color: #1d4d5c;
        }
        h3{
            color: #ececec;
            margin-left: 4;
        }
        .itemMenu {
            color: white;
        }
  